* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #F3C622;
    --dark-blue: #23212C;
    --dark-grey: #3A3637;
    --dark-yellow: #FCB43A;
    --main-font: 'Roboto', sans-serif;
    --heading-font: 'Rubik', sans-serif;
}

.heading {
    font-family: var(--heading-font);
}